In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../MovebankDatasets/e-ObsGPRSHimalayanGriffon-Bhutan-MPIAB/ThangKaarBaen(4185)-4185.csv', delimiter=',')
df.head()

,event-id,visible,timestamp,location-long,location-lat,bar:barometric-pressure,data-decoding-software,eobs:activity,eobs:activity-samples,eobs:battery-voltage,...,sensor-type,individual-taxon-canonical-name,tag-local-identifier,individual-local-identifier,study-name,utm-easting,utm-northing,utm-zone,study-timezone,study-local-timestamp
0,557090296,True,2015-02-18 02:30:24.000,90.200748,27.541146,NaN,NaN,NaN,NaN,3974,...,gps,Gyps himalayensis,4185,Thang Kaar Baen (4185),e-Obs GPRS Himalayan Griffon - Bhutan-MPIAB,223550.028971,3.049499e+06,46N,Bhutan Time,2015-02-18 08:30:24.000
1,557090297,True,2015-02-18 02:35:14.000,90.200749,27.541147,NaN,NaN,NaN,NaN,3974,...,gps,Gyps himalayensis,4185,Thang Kaar Baen (4185),e-Obs GPRS Himalayan Griffon - Bhutan-MPIAB,223550.110270,3.049499e+06,46N,Bhutan Time,2015-02-18 08:35:14.000
2,557090298,True,2015-02-18 02:40:14.000,90.200744,27.541125,NaN,NaN,NaN,NaN,3974,...,gps,Gyps himalayensis,4185,Thang Kaar Baen (4185),e-Obs GPRS Himalayan Griffon - Bhutan-MPIAB,223549.559364,3.049496e+06,46N,Bhutan Time,2015-02-18 08:40:14.000
3,557090299,True,2015-02-18 02:45:14.000,90.200799,27.541139,NaN,NaN,NaN,NaN,3977,...,gps,Gyps himalayensis,4185,Thang Kaar Baen (4185),e-Obs GPRS Himalayan Griffon - Bhutan-MPIAB,223555.100076,3.049498e+06,46N,Bhutan Time,2015-02-18 08:45:14.000
4,557090300,True,2015-02-18 02:50:31.000,90.200808,27.541124,NaN,NaN,NaN,NaN,3974,...,gps,Gyps himalayensis,4185,Thang Kaar Baen (4185),e-Obs GPRS Himalayan Griffon - Bhutan-MPIAB,223555.939835,3.049496e+06,46N,Bhutan Time,2015-02-18 08:50:31.000

In [3]:
df = df.drop(['event-id', 'visible', 'timestamp', 'bar:barometric-pressure','data-decoding-software','eobs:activity','eobs:activity-samples','eobs:battery-voltage','eobs:fix-battery-voltage','eobs:horizontal-accuracy-estimate','eobs:key-bin-checksum','eobs:speed-accuracy-estimate','eobs:start-timestamp','eobs:status','eobs:temperature','eobs:type-of-fix','eobs:used-time-to-get-fix','gps:dop','gps:satellite-count','ground-speed','heading','height-above-ellipsoid','import-marked-outlier','mag:magnetic-field-raw-x','mag:magnetic-field-raw-y','mag:magnetic-field-raw-z','orientation:quaternion-raw-w','orientation:quaternion-raw-x','orientation:quaternion-raw-y','orientation:quaternion-raw-z','sensor-type','individual-taxon-canonical-name','tag-local-identifier','individual-local-identifier','study-name','utm-easting','utm-northing','utm-zone','study-timezone','study-local-timestamp'], axis=1)
df.head()

   location-long  location-lat
0      90.200748     27.541146
1      90.200749     27.541147
2      90.200744     27.541125
3      90.200799     27.541139
4      90.200808     27.541124

In [4]:
df.rename(columns={'location-long':'longitude'}, inplace = True)
df.rename(columns={'location-lat':'latitude'}, inplace = True)
df.head()

   longitude   latitude
0  90.200748  27.541146
1  90.200749  27.541147
2  90.200744  27.541125
3  90.200799  27.541139
4  90.200808  27.541124

In [5]:
df.insert(0, 'species', 'griffon_vulture', True)
df.head()

           species  longitude   latitude
0  griffon_vulture  90.200748  27.541146
1  griffon_vulture  90.200749  27.541147
2  griffon_vulture  90.200744  27.541125
3  griffon_vulture  90.200799  27.541139
4  griffon_vulture  90.200808  27.541124

### Removing duplicates

In [6]:
data_groups = df.groupby(df.columns.tolist())
size = data_groups.size().reset_index()
len(size[size[0] > 1])   # NUMBER OF DUPLICATES

3573

In [7]:
print(len(df.index))

550110

In [8]:
df = df.drop_duplicates()

In [9]:
print(len(df.index))

544727

### NaN values

In [10]:
df = df.dropna()

In [11]:
print(len(df.index))

544726